flows.json
[
    {
        "id": "17ea79472985771e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "76959b04463be7b4",
        "type": "e-mail",
        "z": "17ea79472985771e",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "arduinonotifications4@gmail.com",
        "dname": "",
        "x": 1580,
        "y": 460,
        "wires": []
    },
    {
        "id": "6746e145b1aea4c6",
        "type": "mqtt in",
        "z": "17ea79472985771e",
        "name": "",
        "topic": "arduino/alarm",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cc6cdb5d8009ec9a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 550,
        "y": 520,
        "wires": [
            [
                "adfbd7545b0e99c8",
                "02488eb7c8aa1170"
            ]
        ]
    },
    {
        "id": "adfbd7545b0e99c8",
        "type": "debug",
        "z": "17ea79472985771e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 600,
        "wires": []
    },
    {
        "id": "02488eb7c8aa1170",
        "type": "switch",
        "z": "17ea79472985771e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 730,
        "y": 520,
        "wires": [
            [
                "088e116795e1c444"
            ],
            [
                "9d9dbe4805352bcf"
            ],
            [
                "f6fd61c94a83e684"
            ],
            [
                "5cd4fb106437f027"
            ],
            [
                "0623f97a621db956"
            ],
            [
                "cc3d8444960be6ba"
            ]
        ]
    },
    {
        "id": "088e116795e1c444",
        "type": "change",
        "z": "17ea79472985771e",
        "name": "Alarm activated",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Alarm was ACTIVATED using the voice at",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Door alarm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 360,
        "wires": [
            [
                "0e1785e81c3ea52c",
                "5c04ec595d68ad6d"
            ]
        ]
    },
    {
        "id": "9d9dbe4805352bcf",
        "type": "change",
        "z": "17ea79472985771e",
        "name": "Voice comand deactivated",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Voice command was DEACTIVATED. From now on you can only controll the alarm via the phone app. Timestamp: ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Door alarm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 400,
        "wires": [
            [
                "0e1785e81c3ea52c",
                "5c04ec595d68ad6d"
            ]
        ]
    },
    {
        "id": "0e1785e81c3ea52c",
        "type": "debug",
        "z": "17ea79472985771e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 520,
        "wires": []
    },
    {
        "id": "5c04ec595d68ad6d",
        "type": "function",
        "z": "17ea79472985771e",
        "name": "add timestamp",
        "func": "msg.payload = msg.payload + \" - \" + new Date().toString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 380,
        "wires": [
            [
                "76959b04463be7b4"
            ]
        ]
    },
    {
        "id": "f6fd61c94a83e684",
        "type": "change",
        "z": "17ea79472985771e",
        "name": "BREACH",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ALERT!! DOOR HAS BEEN BREACHED ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Door alarm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 440,
        "wires": [
            [
                "0e1785e81c3ea52c",
                "5c04ec595d68ad6d"
            ]
        ]
    },
    {
        "id": "5cd4fb106437f027",
        "type": "change",
        "z": "17ea79472985771e",
        "name": "Alarm DEACTIVATED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Alarm was DEACTIVATED at",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Door alarm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 480,
        "wires": [
            [
                "5c04ec595d68ad6d",
                "0e1785e81c3ea52c"
            ]
        ]
    },
    {
        "id": "0623f97a621db956",
        "type": "change",
        "z": "17ea79472985771e",
        "name": "Voice commands activated",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Voice recognition activated. The phone comands will be unavailable. Timestamp: ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Door alarm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 520,
        "wires": [
            [
                "5c04ec595d68ad6d",
                "0e1785e81c3ea52c"
            ]
        ]
    },
    {
        "id": "cc3d8444960be6ba",
        "type": "change",
        "z": "17ea79472985771e",
        "name": "Device is ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Device is ON. WIFI and MQTT connections are ON. Alarm is running at ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Door alarm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 560,
        "wires": [
            [
                "5c04ec595d68ad6d",
                "0e1785e81c3ea52c"
            ]
        ]
    },
    {
        "id": "cc6cdb5d8009ec9a",
        "type": "mqtt-broker",
        "name": "door",
        "broker": "e9fd258abea04a858e2bd98c2356066b.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "0edfaa6d076e418d",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0edfaa6d076e418d",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "e9fd258abea04a858e2bd98c2356066b.s1.eu.hivemq.cloud:8883/mqtt",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]